.problemExplanation {
    min-height: 200px;
    box-sizing: border-box;
}

.reviewPrompt,
.testcaseList {
    min-height: 150px;
    box-sizing: border-box;
}

:is(.problemExplanation, .reviewPrompt)>textarea {
    resize: none;
    height: 85%;
    box-sizing: border-box;
}

.testcaseList textarea {
    resize: none;
}