.problemExplanation {
    min-height: 200px;
    box-sizing: border-box;
}

.reviewPrompt {
    min-height: 150px;
    box-sizing: border-box;
}

.testcaseList {
    height: 250px;
}

:is(.problemExplanation, .reviewPrompt)>textarea {
    height: 85%;
    box-sizing: border-box;
}