.errorMessage {
    color: red;
    font-size: 0.8rem;
}

.errorField {
    border: 1px solid red;
}

.clickable {
    cursor: pointer;
}

.listitemButton {
    height: 75px;
}

textarea {
    resize: none;
}